

{{#extend "meta"}}
    {{> partial}}
{{/extend}} 
<article>
    <div class="leftbox">
        <div class="blank"></div>
        <div class="infos">
            <div class="newsview">
                <h2 class="intitle">您现在的位置是：<a href="/">网站首页</a>>>><span>{{title}}</span></h2>
                <h3 class="news_title">{{article.title}}</h3>
                <div class="news_author"><span class="au02 date">{{article.date}}</span></div>
                <div class="news_infos">
                    {{{article.content}}}
                </div>
            </div>
        </div>    
        <div class="nextinfo">
            {{#if takePage.pre.id}}
            <p>上一篇：<a href="/detail/{{takePage.pre.article_id}}">{{takePage.pre.title}}</a></p>
            {{/if}}
            {{#if takePage.next.id}}
            <p>下一篇：<a href="/detail/{{takePage.next.article_id}}">{{ takePage.next.title }}</a></p>
            {{/if}}
        </div>
        <div class="otherlink">
            <h2>相关文章</h2>
            <ul>
                {{#each recommend}}
                <li>
                    <a href="/detail/{{list_article_id}}">
                        <img src="{{list_thumbnail}}" alt="">
                        <p>{{list_title}}</p>
                    </a>
                </li>            
                {{/each}}   
            </ul>
        </div>
    </div>
    <div class="rightbox">
        <div class="paihang">
            <h2 class="ab_title">點擊排行</h2>
            <ul>
                {{#each topArticle}}
                <li>
                    <b>
                        <a href="/detail/{{list_article_id}}">
                            <img src="{{list_thumbnail}}" alt="">
                        </a>
                    </b>
                    <p>{{list_title}}</p>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</article>
<script>
    function timestampToTime(timestamp) {
        var date = new Date(timestamp);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
        var Y = date.getFullYear() + '-';
        var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
        var D = (date.getDate() < 10 ? '0' + date.getDate() : date.getDate());
        return Y + M + D;
    }

    var date = document.querySelector('.date').innerText
    var t = timestampToTime(date)
    {{!-- var t = date.toLocaleString('chinese', { hour12: false }).replace(/\//g, '-') --}}
    document.querySelector('.date').innerText = t
</script>