
{{#extend "meta"}}
<meta property="og:type" content="article">
<meta id="og-title" property="og:title" content={{article.title}}>
<meta id="og-url" property="og:url" content='https://health-longevity.top/detail/f7908a9107d44a548ebea706e4b10422'>
<meta id="og-image" property="og:image" content="https://health-longevity.top/fileimg/720_910-b541e0afc0bd4a71ac354f54cd32cee2.jpg">
<meta id="t-imgage" name="twitter:image" content="https://health-longevity.top/fileimg/720_910-b541e0afc0bd4a71ac354f54cd32cee2.jpg">
{{/extend}}
{{article}}
<div class="main main-detail">
    <div class="detail">
        <h3>{{article.title}}</h3>
        <span class="date">{{article.date}}</span>
        <div class="contaier">
            <div class="page">
                {{{article.content}}}
            </div>
        </div>
    </div>
</div>
<script>
    var date = document.querySelector('.date').innerText
    date = new Date(date)
    var t = date.toLocaleString('chinese', { hour12: false }).replace(/\//g, '-')
    document.querySelector('.date').innerText = t
</script>