

{{#extend "meta"}}
    {{> partial}}
{{/extend}} 
<article>
    <!--lbox begin-->
    <div class="lbox">        
        <div class="content_box whitebg">    
            <h2 class="htitle"></h2>        
            <h1 class="con_tilte">{{article.title}}</h1>
            <p class="bloginfo"><span class="date">{{article.date}}</span></p>
            {{!-- <span>
                <script src="js/count.js" type="text/javascript" language="javascript"></script>人已围观
            </span> --}}
            <div class="con_text">
               {{{article.content}}}
                <div class="nextinfo">
                    {{#if takePage.pre.id}}
                    <p>上一篇：<a href="/detail/{{takePage.pre.article_id}}">{{takePage.pre.title}}</a></p>
                    {{/if}}
                    {{#if takePage.next.id}}
                    <p>下一篇：<a href="/detail/{{takePage.next.article_id}}">{{ takePage.next.title }}</a></p>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="whitebg">
            <h2 class="htitle">隨機圖文</h2>
            <ul class="xiangsi">
                {{#each matchArticle}}
                <li>
                    <a href="/detail/{{list_article_id}}">
                    <i><img src="{{list_thumbnail}}" alt=""></i>
                        <p>{{list_title}}</p>
                        <span>{{list_introduction}}</span>
                    </a>
                </li>
               {{/each}}
            </ul>
        </div>
    </div>
    <!--lbox end-->
<div class="rbox">
    <div class="whitebg paihang">
        <h2 class="htitle">點擊排行榜</h2>
        <ul>
            {{#each topArticle}}
            <li><i></i><a href="/detail/{{list_article_id}}">{{list_title}}</a></li>
            {{/each}}
        </ul>
    </div>
    <div class="whitebg tuijian">
        <h2 class="htitle">猜你喜歡</h2>
        <ul>
            {{#each hotArticle}}
            <li>
                <a href="/detail/{{list_article_id}}">
                    <i>
                        <img src="{{list_thumbnail}}">
                    </i>
                    <p>{{ list_title }}</p>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
</article>

