<article>
    <div class="blank"></div>
    <div class="leftbox">
        <div class="tuijian">
            <h2 class="hometitle">特別推薦</h2>
            <ul>
                {{#each recommend }}
                    <li>
                        <a href="/detail/{{ list_article_id }}">
                            <div class="tpic"><img src="{{list_thumbnail}}"></div>
                            <b>{{list_title}}</b>
                            <span>{{list_introduction}}</span>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="newblogs">
            <h2 class="hometitle">最近文章</h2>
            <ul id="list">
                {{#each newArticle}}
                <li>
                    <h3 class="blogtitle"><a href="/detail/{{ list_article_id }}">{{ list_title }}</a></h3>
                    <div class="bloginfo">
                        <span class="blogpic">
                            <a href="/detail/{{ list_article_id }}" title=""><img src="{{list_thumbnail}}"></a>
                        </span>
                        <p>{{list_introduction}}</p>
                    </div>
                    <div class="autor">
                        {{!-- <span class="lm f_l"><a href="/">杨青个人博客</a></span> --}}
                        <span class="f_r"><a href="/" class="more">阅读原文</a></span>
                    </div>
                </li>    
                {{/each}}     
            </ul>
        </div>
    </div>
    <div class="rightbox">        
        <div class="paihang">
            <h2 class="ab_title">點擊排行</h2>
            <ul>
                {{#each topArticle}}
                <li>
                    <b><a href="/detail/{{list_article_id}}">{{list_title}}</a></b>
                    <p>
                        <i>
                            <img src="{{list_thumbnail}}" alt="">
                        </i>
                        {{list_introduction}}
                    </p>
                </li>  
                {{/each}}             
            </ul>
        </div>
    </div>
</article>




