<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{{block "meta" article=article}}}
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/m.css">
  <script src="/js/jquery-ias.min.js"></script>
  <script src="/js/lazy.js"></script>
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?11ff46d54d33f388244a143cf64bd435";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
</script>

</head>
<body>
  
  <header>
    <div id="mnav">
      <div class="logo"><a href="/">知識百科</a></div>
      <h2 id="mnavh"><span class="navicon"></span></h2>
      <ul id="starlist">
        {{#each meunList}}
          <li><a href="/list/{{id}}">{{ name }}</a></li>
        {{/each}}
      </ul>
    </div>
    <script>
      window.onload = function () {
        var oH2 = document.getElementById("mnavh");
        var oUl = document.getElementById("starlist");
        oH2.onclick = function () {
          var style = oUl.style;
          style.display = style.display == "block" ? "none" : "block";
          oH2.className = style.display == "block" ? "open" : ""
        }
      }
    </script>
  </header>
  <div class="line46"></div>
  {{{body}}}
  <footer>
    <p>©2022 www.health-longevity.top. All Rights Reserved.</p>
  </footer>
  <script>
    $(function () {
        $("img.lazy").lazyload({ effect: "fadeIn" });
    });
    let ch = window.innerHeight
    let hh = document.querySelector('header').clientHeight
    let fh = document.querySelector('footer').clientHeight
    document.querySelector('article').style.minHeight = ch - hh - fh - 1 + 'px'
  </script>
</body>
</html>