<article>
    <div class="leftbox">
        <div class="newblogs">
            <h2 class="hometitle">{{title}}</h2>
            <ul>
                {{#each list}}
                    <li>
                        <h3 class="blogtitle"><a href="/detail/{{ article_id }}">{{ title }}</a></h3>
                        <div class="bloginfo">
                            <span class="blogpic">
                                <a href="/detail/{{ article_id }}" title=""><img src="{{thumbnail}}"></a>
                            </span>
                            <p>{{introduction}}</p>
                        </div>
                        <div class="autor">
                            {{!-- <span class="lm f_l"><a href="/">杨青个人博客</a></span> --}}
                            <span class="f_r"><a href="/detail/{{ article_id }}" class="more">阅读原文</a></span>
                        </div>
                    </li>
                {{/each}}
                
            </ul>
        </div>
    </div>
    <div class="rightbox">
        <div class="paihang">
            <h2 class="ab_title"><a href="/">點擊排行</a></h2>
            <ul>
                {{#each fiveList.list}}
                <li>
                    <b><a href="/detail/{{list_article_id}}">{{list_title}}</a></b>
                    <p>
                        <i>
                            <img src="{{list_thumbnail}}" alt="">
                        </i>
                        {{list_introduction}}
                    </p>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</article>
<script>
  
    function lazyImg() {
        $(function () {
            $("img.lazy").lazyload({ effect: "fadeIn" });
        });
    }
    function addHtml(data) {
        var id = data.zhihu_list_article_id,
            title = data.zhihu_list_title,
            thumbnail = data.zhihu_list_thumbnail
        var oHtml = '<div class="list-item io"><a href="/detail/' + id + '"><h3>' + title + '</h3><img class="lazy" data-original="' + thumbnail + '" alt="' + title + '"></a></div>'
        $('.main').append(oHtml)
    }
</script>