<article>
    <div class="leftbox">
        <div class="newblogs">
            <h2 class="hometitle"></h2>
            <ul>
                {{#each list}}
                    <li>
                        <h3 class="blogtitle"><a href="/detail{{ article_id }}">{{ title }}</a></h3>
                        <div class="bloginfo">
                            <span class="blogpic">
                                <a href="/detail{{ article_id }}" title=""><img src="{{thumbnail}}"></a>
                            </span>
                            <p>{{introduction}}</p>
                        </div>
                        <div class="autor">
                            {{!-- <span class="lm f_l"><a href="/">杨青个人博客</a></span> --}}
                            <span class="f_r"><a href="/detail{{ article_id }}" class="more">阅读原文</a></span>
                        </div>
                    </li>
                {{/each}}
                
            </ul>
            {{!-- <div class="pagelist"><a title="Total record">&nbsp;<b>142</b> </a>&nbsp;&nbsp;<a
                    href="/jstt/index.html">首页</a>&nbsp;<a href="/jstt/index.html">上一页</a>&nbsp;<a
                    href="/jstt/index.html">1</a>&nbsp;<b>2</b>&nbsp;<a href="/jstt/index_3.html">3</a>&nbsp;<a
                    href="/jstt/index_4.html">4</a>&nbsp;<a href="/jstt/index_5.html">5</a>&nbsp;<a
                    href="/jstt/index_6.html">6</a>&nbsp;<a href="/jstt/index_3.html">下一页</a>&nbsp;<a
                    href="/jstt/index_6.html">尾页</a></div> --}}
        </div>
    </div>
   
</article>
<script>
  
    function lazyImg() {
        $(function () {
            $("img.lazy").lazyload({ effect: "fadeIn" });
        });
    }
    function addHtml(data) {
        var id = data.zhihu_list_article_id,
            title = data.zhihu_list_title,
            thumbnail = data.zhihu_list_thumbnail
        var oHtml = '<div class="list-item io"><a href="/detail/' + id + '"><h3>' + title + '</h3><img class="lazy" data-original="' + thumbnail + '" alt="' + title + '"></a></div>'
        $('.main').append(oHtml)
    }
</script>